@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-weight: 400;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	font-family: "Anton", sans-serif;
	font-size: 10vw;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: -2px;
	padding-top: 0.25rem;
}
h2 {
	font-family: "Poppins", sans-serif;
	font-size: 8vw;
	font-weight: 500;
}
h3 {
	font-family: "Poppins", sans-serif;
	font-size: 5vw;
	font-weight: 700;
}
h4 {
	font-family: "Poppins", sans-serif;
	font-size: 2.5vw;
	font-weight: 700;
}
h5 {
	font-family: "Poppins", sans-serif;
	font-size: 1.5vw;
	font-weight: 700;
}
p {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 500;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	overflow: hidden;
}
.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 8px;
	transform: scaleX(0%);
	transform-origin: center left;
	background-color: #fff;
	will-change: transform;
	z-index: 2;
}
.progress-counter {
	position: fixed;
	bottom: 1rem;
	right: 2.5rem;
	color: #fff;
	z-index: 2;
	text-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
}
.scroller {
	position: relative;
	width: 1900vw;
	height: 100svh;
	display: flex;
	will-change: transform;
	transform: translateX(0);
}
section {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ms-1 {
	margin-left: 10vw;
}
.ms-2 {
	margin-left: 20vw;
}
.mb-1 {
	margin-bottom: .2em;
}
.mb-2 {
	margin-bottom: .5em;
}
.text-center {
	text-align: center;
}
.intro,
.hero-img,
.about,
.banner-img,
.story,
.outro {
	width: 95vw;
}
.header,
.concept-img {
	width: 100vw;
}
.intro {
	padding: 2rem;
	background-color: #000;
	color: #f6f6f6;
}
.header {
	display: block;
	padding: 2rem;
	background-color: #e3e8ec;
	color: #421c06;
}
.about {
	padding: 4rem 3rem 1rem 2rem;
	background-color: #f95738;
	color: #481107;
}
.story {
	padding: 4rem 2rem 2rem 2rem;
	background-color: #ee964b;
	color: #3f170b;
}
.outro {
	background-color: #ebebd3;
	color: #302418;
	padding: 2rem;
}
/* .about,
.intro,
.header, */
.story {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
/* .intro,
.about, */
.story {
	flex-direction: column;
}
.header h1 {
	font-size: 10vw;
}
.header h2 {
	font-size: 6vw;
	text-transform: uppercase;
}
.story h1 {
	padding-top: 0;
}
/*.about .row {
	display: flex;
	justify-content: space-between;
}
.about .row p {
	width: 50%;
	margin-bottom: 1rem;
}
.about .row .copy {
	flex: 3;
}
.about .row .img {
	flex: 3;
	aspect-ratio: 7/5;
}*/


.m-1 {
	margin: 3vw !important;
}

.flex-1 {
	flex: 1;
}
.flex-2 {
	flex: 2;
}
.flex-3 {
	flex: 3;
}
.section1 {
	background-color: #ffb970;
	width: 90vw;
}
.section1-img {
	width: 80vw;
}
.section1-img img {
	height: 100vh;
}

.section2 {
	width: 80vw;
	background-color: black;
	color: white;
}

.section2-img {
	width: 80vw;
	
}

.section3 {
	background-color: black;
    color: beige;
}

.section4 {
	width: 80vw;
	background-color: black;
	color: beige;
}

.section4-img {
	width: 100vw;
}

.section5 {
	display: block;
	padding: 2rem;
	background-color: #e3e8ec;
	color: #2b2b2b;
}

.section5 h1 {
	font-size: 7vw;	
}

.section5 img {
	object-fit: scale-down;
}

.hero-img.section5 {
	width: 150vw;
}

.section6 {
	width: 80vw;
	background: black;
	color: lightgray;
}

